@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Pacifico&family=Poppins&display=swap');
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: 'Kantumruy Pro', sans-serif;
    // background-image: url('https://media-public.canva.com/MADQ5LhUZE0/1/screen.jpg');
    background-image: url('https://resizer.otstatic.com/v2/photos/wide-huge/2/42094068.webp');
    // background-image: url('/public/img/fondo4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &::before{
        content: '';
        position: absolute;
        background-color: rgba(3,3,58,.3);
        backdrop-filter: blur(.2rem);
        // filter: blur(1rem);
        width: 100%;
        height: 100%;
    }
}
p{
    margin: 0;
}
img{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: beige;
    font-family: 'Libre Baskerville', serif;
    // font-family: 'Pacifico', cursive;
    // font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    .logo{
        z-index: 1;
        padding: 1rem 0;
        width: 7rem;
    }
    .info{
        z-index: 1;
        display: flex;
        gap: 2rem;
        p{
            padding: .5rem;
            border: 1px solid transparent;
        }
        form button{
            border: 1px solid white;
            background-color: unset;
            padding: .5rem;
            font-size: 2rem;
            border-radius: .5rem;
            cursor: pointer;
            transition: .1s ease;
            font-family: 'Libre Baskerville', serif;
            color: beige;
            &:hover{
                background-color: rgba(67,128,255,.6);
                color: white;
            }
        }
        .crear-cafe, .crear-rol{
            border: 1px solid white;
            border-radius: .5rem;
            cursor: pointer;
            transition: .1s ease;
            &:hover{
                background-color: rgba(67,128,255,.6);
                color: white;
            }
        }
    }
}

main{
    width: 85%;
    margin: 0 auto;
    .contenedor-cards{
        display: flex;
        gap: 1rem;
        overflow-y: hidden;
        // overflow-x: scroll;
        .card{
            z-index: 1;
            background-color: white;
            color: rgba(3,3,58);
            flex: 0 0 calc(24.5rem);
            display: inline-block;
            height: 53rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: .3s ease;
            &:hover{
                box-shadow: inset 0px 0px 11px 4px rgba(67,128,255,.7);
            }
            .logo-card{
                padding: 1rem;
            }
            .informacion-card{
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                height: 100%;
                .nombre-empresa{
                    font-family: 'Libre Baskerville', serif;
                    // font-family: 'Pacifico', cursive;
                    // font-family: 'Poppins', sans-serif;
                    font-weight: bold;
                    font-size: 2.5rem;
                }
            }
            .botones-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding: .5rem 0;
                .btn-reservacion{
                    position: relative;
                    padding: 1rem 2rem;
                    border: 1px solid rgba(3,3,58);
                    color: rgba(3,3,58);
                    font-family: 'Libre Baskerville', serif;
                    font-size: 2rem;
                    cursor: pointer;
                    transition: .3s ease;
                    margin-top: 1rem;
                    &::before{
                        transition: .3s ease;
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 70%;
                        width: 0%;
                        height: .1rem;
                        background: rgba(3,3,58);
                    }
                    &:hover{
                        // box-shadow: -1px -2px 7px -1px rgba(0,0,0,0.45);
                        // background-color: rgba(3,3,58);
                        // color: white;
                        letter-spacing: .1rem;
                        border: 1px solid white;
                        background: white;
                        &::before{
                            width: 100%;
                        }
                    }
                }
                .btn-acciones{
                    display: flex;
                    gap: 2rem;
                    // padding: 1rem;
                    a{
                        color: black;
                    }
                    button, a{
                        font-size: 2rem;
                        cursor: pointer;
                        border: 1px solid transparent;
                        border-radius: .5rem;
                        padding: .5rem 1rem;
                        background-color: unset;
                        transition: .3s ease;
                        transform: translateY(10rem);
                        &.btn-editar:hover{
                            color: #117A65;
                            background-color: white;
                            border: 1px solid #117A65;
                        }
                        &.btn-borrar:hover{
                            color: #CB4335;
                            background-color: white;
                            border: 1px solid #CB4335;
                        }
                        &.btn-setting:hover{
                            color: #2E86C1;
                            background-color: white;
                            border: 1px solid #2E86C1;
                        }
                    }
                }
            }
            &:hover .btn-acciones button{
                transform: translateY(0);
            }
            &:hover .btn-acciones a{
                transform: translateY(0);
            }
        }
    }
}